<!DOCTYPE html>
<html>
<head>
    <title>Job Search App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body class="flex">
    <div>
        <h1>Job Search App</h1>
        <form method="POST" action="/">
            <label for="resume"><b>Resume:</b></label>
            <input type="text" name="resume" required><br><br>
            <label for="job_title"><b>Job Title:</b></label>
            <input type="text" name="job_title" required><br><br>
            <label for="num_pages"><b>Number of Pages:</b></label>
            <input type="number" name="num_pages" required><br><br>
            <label for="top_k"><b>Top K Rows:</b></label>
            <input type="number" name="top_k" required><br><br>
            <label for="job_levels"><b>Job Levels:</b></label><br><br>
            <input type="checkbox" name="job_levels[]" value="entry level">Entry Level<br><br>
            <input type="checkbox" name="job_levels[]" value="non-executive">Non-Executive<br><br>
            <input type="checkbox" name="job_levels[]" value="junior executive">Junior Executive<br><br>
            <input type="checkbox" name="job_levels[]" value="executive">Executive<br><br>
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>