<!DOCTYPE html>
<html>
<head>
    <title>Job Search Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="overflow-x:auto !important;">
    <section>
        <h2>Top Results</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Address</th>
                    <th>Experience</th>
                    <th>Category</th>
                    <th>Salary range</th>
                    <th>Closing date</th>
                    <th>No. of applications</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.itertuples() %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ row.company }}</td>
                    <td>
                        <div class="truncate" onclick="expandDescription(this)">
                            {{ row.description }}
                        </div>
                    </td>
                    <td><a href="{{ row.url }}">Link</a></td>
                    <td>{{ row.address }}</td>
                    <td>{{ row.experience }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.salary_min }} to {{ row.salary_max }}</td>
                    <td>{{ row.closing }}</td>
                    <td>{{ row.num_applications }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <script>
        function expandDescription(element) {
            element.classList.toggle("expanded");
        }
    </script>    
</body>
</html>